<h2>Add new post</h2>
<br>
<form action="/new" method="POST">
  <div class="form-group">
  	<input name="name" type="text" class="form-control" placeholder="Your name"> <br>
    <textarea name="content" class="form-control" rows="6" placeholder="Tipe post text here..."></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>